{% extends _nakima('nakima_admin').templates.base %}

{% block breadcrumb %}
  {% spaceless %}
  <li><a href="{{ url('nakima_admin_dashboard') }}">{% trans from "nakima_admin" %}nakima_admin_dashboard{% endtrans %}</a></li>
  <li><a href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'list'}) }}">{% trans with {'%name%': (config_block.meta.label ~ "_plural") | trans({}, translator)} from "nakima_admin" %}nakima_admin_list %name%{% endtrans %}</a></li>
  <li class="active"><span>{% trans with {'%name%': (("new_" ~ config_block.meta.label) | trans({}, translator)) | lower } from "nakima_admin" %}nakima_admin_creating %name%{% endtrans %}</span></li>
  {% endspaceless %}
{% endblock %}


{% block content_header %}
  {% spaceless %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        {% trans with {'%name%': (("new_" ~ config_block.meta.label) | trans({}, translator)) | lower } from "nakima_admin" %}nakima_admin_creating %name% {% endtrans %}
                    </a>
                </div>
                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>
                    {% if admin.allow(app.user, config_block.role, 'create') or admin.allow(app.user, config_block.role, 'list') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown sonata-actions">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans from "nakima_admin" %}nakima_admin_actions{% endtrans %}&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% block content_header_actions %}
                                      {% spaceless %}
                                        {% if admin.allow(app.user, config_block.role, 'create') %}
                                            <li>
                                                <a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>{% trans from "nakima_admin" %}nakima_admin_addnew{% endtrans %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if admin.allow(app.user, config_block.role, 'list') %}
                                            <li>
                                                <a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'list'}) }}">
                                                    <i class="fa fa-list" aria-hidden="true"></i>{% trans from "nakima_admin" %}nakima_admin_backtolist{% endtrans %}
                                                </a>
                                            </li>
                                        {% endif %}
                                      {% endspaceless %}
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% endspaceless %}
{% endblock %}


{% block content %}
    {% spaceless %}

    {% block form_error %}
        {% if form.vars.errors | length %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>

                {% for error in form.vars.errors %}
                    <p><i class="fa fa-genderless"></i>&nbsp;{{ error.message }} <b>({{ error.cause.propertyPath }})</b></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    <form class={% block form_class %}"form form-horizontal"{% endblock %} action="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}" method="POST" enctype="multipart/form-data">
        {{ form_row(form._token) }}
        {% block form_inner_content %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">{{ config_block.meta.label | trans({}, translator) }}</h3>
                        </div>

                        <div class="box-body">

                            {% for field in form.children %}
                                {% if field.vars.name != 'id' and field.vars.name != '_token' %}
                                    <div class="form-group">
                                        {{ form_label(field, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                        <div class="col-sm-9">
                                            {% if field.vars.compound %}
                                                {{ include('NakimaAdminBundle:Core:empty.html.twig', { 'form': field, 'config_block': config_block, 'admin': admin, 'bundle_name': bundle_name, 'entity_name': entity_name, 'entity_fqn': entity_fqn, 'controller_fqn': controller_fqn, 'settings': settings, 'data': field.vars.value, 'assetic': assetic, 'wrap_fields_with_addons': wrap_fields_with_addons, 'app': app, 'domain': domain  }) }}
                                            {% else %}
                                                {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label }}) }}
                                                {{ form_errors(field) }}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {{ form_row(form._token) }}
                            {% block form_submit %}
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-3">
                                        <input class="btn btn-success" type="submit" value="{% trans from "nakima_admin" %}nakima_admin_save{% endtrans %}">&nbsp;
                                        <input class="btn btn-success" type="submit" name="edit" value="{% trans from "nakima_admin" %}nakima_admin_saveandedit{% endtrans %}">
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </form>
    {% endspaceless %}
    {% block form_outer_content %}
    {% endblock %}
{% endblock %}
