{% extends _nakima('nakima_admin').templates.base %}

{% block title %}{{ _nakima('nakima').title }} - dashboard{% endblock%}

{% block content %}

	<div class="row">
		{% for config_block in _nakima('nakima_admin').dashboard.blocks %}
			{% if not config_block.role or is_granted(config_block.role) %}
				{% if config_block.position == 'top' %}
					{% set the_block = _nakima('nakima_admin').blocks[config_block.block] %}

					{% if is_granted(the_block.role) %}
						{% set block = _load(the_block.class) %}
						{{ include(block.getTemplate(), { 'block': block, 'meta': config_block }) }}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		{% for config_block in _nakima('nakima_admin').dashboard.blocks %}
			{% if not config_block.role or is_granted(config_block.role) %}

				{% if (config_block.position in ['fourth', 'third', 'half', 'full']) %}
					{% if config_block.block is defined %}
						{% set the_block = _nakima('nakima_admin').blocks[config_block.block] %}
						{#{% set admin = _load(the_block.meta.admin) %}#}

						{% if is_granted(the_block.role) %}
							{% set block = _load(the_block.class).setBlockInfo(the_block) %}
								asdasdds
							{{ include(block.getTemplate(), { 'block': block, 'meta': config_block  }) }}
						{% endif %}

					{% elseif config_block.group is defined %}
						{% set the_group = _nakima('nakima_admin').groups[config_block.group] %}
						{% if is_granted(the_group.role) %}
							{{ include("NakimaAdminBundle:Block:group.html.twig", {group: the_group, 'meta': config_block }) }}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}

