{% spaceless %}
<div class="row">
    <div class="col-md-12">
        {% for field in form.children %}
            {% if field.vars.name != 'id' and field.vars.name != '_token' %}
                <div class="form-group">
                    {{ form_label(field, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    <div class="col-sm-10">
                        {% if field.vars.compound %}
                            {{ include('NakimaAdmin:Core:empty.html.twig', { 'form': field, 'config_block': config_block, 'admin': admin, 'bundle_name': bundle_name, 'entity_name': entity_name, 'entity_fqn': entity_fqn, 'controller_fqn': controller_fqn, 'settings': settings, 'data': field.vars.value, 'assetic': assetic, 'wrap_fields_with_addons': wrap_fields_with_addons, 'app': app, 'domain': domain  }) }}
                        {% else %}
                            {{ form_widget(field, {'attr': {'class': 'form-control', 'placeholder': field.vars.label }}) }}
                            {{ form_errors(field) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endspaceless %}