{% extends _nakima('nakima_admin').templates.base %}

{% block breadcrumb %}
  {% spaceless %}
    <li><a href="{{ url('nakima_admin_dashboard') }}">{% trans from "nakima_admin" %}nakima_admin_dashboard{% endtrans %}</a></li>
    <li class="active"><span>{% trans with {'%name%': (config_block.meta.label ~ "_plural") | trans({}, translator)} from "nakima_admin" %}nakima_admin_list %name%{% endtrans %}</span></li>
  {% endspaceless %}
{% endblock %}

{% block content_header %}
  {% spaceless %}
    <div class="sticky-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">

            </a>
          </div>
          <div class="navbar-collapse">
            <div class="navbar-left">
            </div>
            <ul class="nav navbar-nav navbar-right">
              {% block content_header_actions %}
                {% if admin.allow(app.user, config_block.role, 'create') %}
                  <li><a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}"><i class="fa fa-plus-circle"></i>&nbsp;{% trans from "nakima_admin" %}nakima_admin_addnew{% endtrans %}</a></li>
                {% endif %}
              {% endblock %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  {% endspaceless %}
{% endblock %}

{% block content %}
  {% spaceless %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">{{ config_block.meta.label }}</h3>
        </div>

        <div class="box-body">
          <div class=" dataTables_wrapper form-inline dt-bootstrap">
            <table id="list_table" class="table table-hover table-responsive">
              <thead>
                <tr>
                  {% for field in mapper.getFields() %}
                    <th>{{ field.getLabel() | trans({}, translator) }}</th>
                  {% endfor %}
                  {% block list_actions_column %}
                    <th class="no-sort"></th>
                  {% endblock %}
                </tr>
              </thead>
              <tbody>
                {% for value in data %}
                  <tr>
                    {% for field in mapper.getFields() %}
                      {% set field_value = value.get(field.getAttribute()) %}
                      {% if field_value is iterable %}
                        <td style="vertical-align: middle">{{ field_value | join(', ') | raw }}</td>
                      {% elseif _isBaseEntity(field_value) %}
                        {% set _bundle = _getBundleName(field_value) %}
                        {% set _entity = _getEntityName(field_value) %}
                        {% set admin2 = _load(config_block.meta.admin) %}
                        {% set config_block2 = _loadBlock(_bundle, _entity) %}

                        {% set dummy = admin2.setRequest(app.request) %}

                        {% if config_block2 and admin.allow(app.user, config_block2.role, 'edit', value) %}
                          <td style="vertical-align: middle"><a href="{{ url('nakima_admin_id_action', {'bundle': _bundle, 'entity': _entity, 'id': field_value.id, 'action': 'edit'}) }}" >{{ field_value | raw }}</a></td>
                        {% else %}
                          <td style="vertical-align: middle">{{ field_value | raw }}</td>
                        {% endif %}

                      {% elseif field_value %}
                        <td style="vertical-align: middle">{{ field_value | raw }}</td>
                      {% else %}
                        <td style="vertical-align: middle"> --- </td>
                      {% endif %}
                    {% endfor %}
                    {% block list_actions %}
                      <td class="col-md-2">
                        {% set ihaveone = false %}
                        {% set andanother = false %}

                        <div class="btn-group">
                          {% if admin.allow(app.user, config_block.role, 'edit', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                              <li><a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'edit'}) }}" type="button" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil"></i>{% trans from "nakima_admin" %}nakima_admin_edit{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'edit'}) }}" type="button" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                          {% endif %}

                          {% if admin.allow(app.user, config_block.role, 'show', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                              <li><a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'show'}) }}" ><i class="fa fa-eye"></i>{% trans from "nakima_admin" %}nakima_admin_show{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'show'}) }}" type="button" class="btn btn-default">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-eye">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                            {% endif %}
                          {% endif %}

                          {% if admin.allow(app.user, config_block.role, 'delete', value) %}
                            {% if ihaveone %}
                              {% if not andanother %}
                                {% set andanother = true %}
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                              {% endif %}
                                <li><a class="text-red" data-toggle="modal" data-target="#delete-modal-{{ value.id }}"><i class="fa fa-trash"></i>{% trans from "nakima_admin" %}nakima_admin_delete{% endtrans %}</a></li>
                            {% else %}
                              {% set ihaveone = true %}
                              <a class="text-red btn btn-default" data-toggle="modal" data-target="#delete-modal-{{ value.id }}"><i class="fa fa-trash">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                            {% endif %}
                          {% endif %}

                          {% if andanother %}
                            </ul>
                          {% endif %}
                        </div>
{#
                          <div class="btn-group">
                            <a class="btn btn-primary" href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'show'}) }}">Mostrar</a>
                            <a class="btn btn-primary" href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'edit'}) }}">Editar</a>
                          </div>
                          <a class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{ value.id }}">Borrar</a>
#}
                          <div class="modal modal-danger" id="delete-modal-{{ value.id }}">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                  <h4 class="modal-title"><i class="fa fa-warning"></i>&nbsp;{% trans from "nakima_admin" %}nakima_admin_delete_confirmation_title{% endtrans %}</h4>
                                </div>
                                <div class="modal-body">
                                  <p>{% trans with {'%name%' : value | trans({}, translator)} from "nakima_admin" %}nakima_admin_delete_confirmation_question %name%{% endtrans %}</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{% trans from "nakima_admin" %}nakima_admin_delete_cancel{% endtrans %}</button>
                                  <a type="button" class="btn btn-outline" href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, 'id': value.id, 'action': 'delete'}) }}">{% trans from "nakima_admin" %}nakima_admin_delete_confirm{% endtrans %}</a>
                                </div>
                              </div>
                              <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                          </div>

                      </td>
                    {% endblock %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endspaceless %}
{% endblock %}

{% block endjavascripts %}
  <script>
    {% if locale[:2] == 'en' %}
      $('#list_table').DataTable();
    {% endif %}
    {% if locale[:2] == 'ca' %}

        $('#list_table').DataTable( {
          language: {
              processing:     "Procesant...",
              search:         "Cercar:",
              lengthMenu:     "Mostrant _MENU_ elements",
              info:           "Mostrant elements de _START_ fins a _END_ de _TOTAL_ elements",
              infoEmpty:      "Mostrant de 0 a 0 en 0 entrades",
              infoFiltered:   "(filtrat de _MAX_ elements en total)",
              infoPostFix:    "",
              loadingRecords: "Cerca en curs...",
              zeroRecords:    "No s'ha trobat cap resultat",
              emptyTable:     "No existeixen dades",
              paginate: {
                  first:      "Primera",
                  previous:   "Anterior",
                  next:       "Següent",
                  last:       "Darrera"
              },
              aria: {
                  sortAscending:  ": Prèmer per ordernar la columna de mode ascendent",
                  sortDescending: ": Prèmer per ordernar la columna de mode descendent"
              }
          }
        } );
    {% endif %}
    {% if locale[:2] == 'es' %}

        $('#list_table').DataTable( {
          language: {
              processing:     "Procesando...",
              search:         "Buscar:",
              lengthMenu:     "Mostrando _MENU_ elements",
              info:           "Mostrando elementos desde _START_ hasta _END_ de _TOTAL_ entradas",
              infoEmpty:      "Mostrando de 0 a 0 en 0 entradas",
              infoFiltered:   "(filtrado de _MAX_ elementos en total)",
              infoPostFix:    "",
              loadingRecords: "Busqueda en curso...",
              zeroRecords:    "No se ha encontrado ningún resultat",
              emptyTable:     "No existen datos",
              paginate: {
                  first:      "Primera",
                  previous:   "Anterior",
                  next:       "Siguiente",
                  last:       "Última"
              },
              aria: {
                  sortAscending:  ": Pulsar para ordenar la columna ascendentemente",
                  sortDescending: ": Pulsar para ordenar la columna descendentemente"
              }
          }
        } );
    {% endif %}

  </script>
{% endblock %}