{% extends _nakima('nakima_admin').templates.base %}

{% block breadcrumb %}
  {% spaceless %}
  <li><a href="{{ url('nakima_admin_dashboard') }}">{% trans from "nakima_admin" %}nakima_admin_dashboard{% endtrans %}</a></li>
  <li><a href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'list'}) }}">{% trans with {'%name%': (config_block.meta.label ~ "_plural") | trans({}, translator)} from "nakima_admin" %}nakima_admin_list %name%{% endtrans %}</a></li>
  <li class="active"><span>{% trans with {'%name%': (data.__toString()) } from "nakima_admin" %}nakima_admin_showing %name%{% endtrans %}</span></li>
  {% endspaceless %}
{% endblock %}

{% block content_header %}
  {% spaceless %}
    <div class="sticky-wrapper">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        {% trans with {'%name%': (data.__toString()) } from "nakima_admin" %}nakima_admin_showing %name%{% endtrans %}
                    </a>
                </div>
                <div class="navbar-collapse">
                    <div class="navbar-left">
                    </div>
                    {% if admin.allow(app.user, config_block.role, 'create') or admin.allow(app.user, config_block.role, 'list') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown sonata-actions">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans from "nakima_admin" %}nakima_admin_actions{% endtrans %}&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    {% block content_header_actions %}
                                      {% spaceless %}
                                        {% if admin.allow(app.user, config_block.role, 'edit') %}
                                            <li>
                                                <a class="sonata-action-element" href="{{ url('nakima_admin_id_action', {'bundle': bundle_name, 'entity': entity_name, id: data.id, 'action': 'edit'}) }}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>{% trans with {'%name%': (data.__toString()) } from "nakima_admin" %}nakima_admin_edit{% endtrans %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if admin.allow(app.user, config_block.role, 'create') %}
                                            <li>
                                                <a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'create'}) }}">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>{% trans from "nakima_admin" %}nakima_admin_addnew{% endtrans %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if admin.allow(app.user, config_block.role, 'list') %}
                                            <li>
                                                <a class="sonata-action-element" href="{{ url('nakima_admin_action', {'bundle': bundle_name, 'entity': entity_name, 'action': 'list'}) }}">
                                                    <i class="fa fa-list" aria-hidden="true"></i>{% trans from "nakima_admin" %}nakima_admin_backtolist{% endtrans %}
                                                </a>
                                            </li>
                                        {% endif %}
                                      {% endspaceless %}
                                    {% endblock %}
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% endspaceless %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ config_block.meta.label | trans({}, translator) }}</h3>
                </div>
                <div class="form-horizontal">
                    <div class="box-body">
                        {% for field in form.children %}
                            <div class="form-group">
                                {% if field.vars.name != '_token' %}
                                    {{ form_label(field, null, {'label_attr': {'class': 'col-sm-3'}}) }}
                                    <div class="col-sm-9">
                                        {% set field_value = data.get(field.vars.name) %}
                                        {% if field_value is iterable %}
                                            <td style="vertical-align: middle">
                                              <ul>
                                                <li>{{ field_value | join('</li><li>') | raw }}</li>
                                              </ul>
                                            </td>
                                        {% elseif _isBaseEntity(field_value) %}
                                            <td style="vertical-align: middle"><a href="#">{{ field_value }}</a></td>
                                        {% else %}
                                            <td style="vertical-align: middle">{{ field_value }}</td>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
