{% spaceless %}
{% if meta.position == 'half' %}
    <div class="col-md-6">
{% elseif meta.position == 'third' %}
    <div class="col-md-4">
{% elseif meta.position == 'fourth' %}
    <div class="col-md-3">
{% else %}
    <div class="col-md-12">
{% endif %}
    {% block block %}
    {% endblock %}
</div>
{% endspaceless %}