{% extends "NakimaAdminBundle:Block:base.html.twig" %}

{% block block %}
    {% spaceless %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ group.label | trans({}, translator) }}</h3>
        </div><!-- /.box-header -->

        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    {% for block_name in group.blocks %}
                        {% set the_block = _nakima('nakima_admin').blocks[block_name] %}
                        {% set block = _load(the_block.class).setBlockInfo(the_block) %}

                        {% if the_block.meta.admin is defined %}
                            {% set admin = _load(the_block.meta.admin) %}
                        {% else %}
                            {% set admin = _load("Nakima\\AdminBundle\\Admin\\BaseAdmin") %}
                        {% endif %}

                        {% if is_granted(the_block.role) %}
                            <tr>
                                {{ include(admin.getTemplate("dashboard_group_row"), { 'block': block, 'meta': config_block }) }}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
    {% endspaceless %}
{% endblock %}
