{% spaceless %}
<td class="sonata-ba-list-label" width="40%"> {{ the_block.meta.label | trans({}, the_block.translator) }} </td>
<td>
    <div class="btn-group">

        {% if admin.allow(app.user, the_block.role, 'create') %}
            <a class="btn btn-link btn-flat" href="{{ url('nakima_admin_action', {'bundle': block.getBundleName(), 'entity': block.getEntityName(), 'action': 'create'}) }}">
                <i class="fa fa-plus-circle">&nbsp;</i>{% trans from "nakima_admin" %}nakima_admin_addnew{% endtrans %}
            </a>
        {% endif %}

        {% if admin.allow(app.user, the_block.role, 'list') %}
            <a class="btn btn-link btn-flat" href="{{ url('nakima_admin_action', {'bundle': block.getBundleName(), 'entity': block.getEntityName(), 'action': 'list'}) }}">
                <i class="fa fa-list">&nbsp;</i>{% trans from "nakima_admin" %}nakima_admin_list{% endtrans %}
            </a>
        {% endif %}
    </div>
</td>
{% endspaceless %}