{% extends "NakimaAdminBundle:Block:base_resume.html.twig" %}

{# convert this in a block type #}
{% block block %}
    {% spaceless %}
    <div class="small-box bg-{{ block.getColor() }}">
        <div class="inner">
            <h3>{{ block.getTitle() }}</h3>
            <p>{{ block.getSubTitle() }}</p>
        </div>
        <div class="icon">
            <i class="fa fa-{{ block.getIconClass() }}"></i>
        </div>
        {# TODO Link below must not be hardcoded? #}
        <a href="{{ block.getPath() }}" class="small-box-footer">
            {{ block.getLinkLabel() }} &nbsp; <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
    {% endspaceless %}
{% endblock %}