{% spaceless %}
{% set locale = app.request.locale %}

<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
  <head>
    {% block meta_tags %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="UTF-8">
      <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
      <link rel="icon" href="{{ _nakima('nakima').small_logo }}?">
    {% endblock %}

    {% block stylesheets %}
      {% for stylesheet in sonata_admin.adminPool.getOption('stylesheets', []) %}
          <link rel="stylesheet" href="{{ asset(stylesheet) }}">
      {% endfor %}

      <style>
        .logo img {
          max-width: 1000px;
        }
        .cross {
          text-decoration: line-through;
        }
        .no-sort::after { display: none!important; }

        .no-sort { pointer-events: none!important; cursor: default!important; }

        .table-center th {
          vertical-align: middle !important;
          text-align: center !important;
        }

        .table-vcenter th {
          vertical-align: middle !important;
        }

        .table-center td {
          vertical-align: middle !important;
          text-align: center !important;
        }

        .table-right th {
          vertical-align: middle !important;
          text-align: right !important;
        }

        .table-right td {
          vertical-align: middle !important;
          text-right: center !important;
        }

        .icheckbox_square-blue {
          top: 5px;
        }
        .col-xs-1,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12 {
          margin-bottom: 1px;
          margin-top: 1px;
        }

        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
          margin-bottom: 1px;
          margin-top: 1px;
        }

        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12 {
          margin-bottom: 1px;
          margin-top: 1px;
        }

        /* Print styling */

@media print {

[class*="col-sm-"] {
  float: left;
}

[class*="col-xs-"] {
  float: left;
}

.col-sm-12, .col-xs-12 {
  width:100% !important;
}

.col-sm-11, .col-xs-11 {
  width:91.66666667% !important;
}

.col-sm-10, .col-xs-10 {
  width:83.33333333% !important;
}

.col-sm-9, .col-xs-9 {
  width:75% !important;
}

.col-sm-8, .col-xs-8 {
  width:66.66666667% !important;
}

.col-sm-7, .col-xs-7 {
  width:58.33333333% !important;
}

.col-sm-6, .col-xs-6 {
  width:50% !important;
}

.col-sm-5, .col-xs-5 {
  width:41.66666667% !important;
}

.col-sm-4, .col-xs-4 {
  width:33.33333333% !important;
}

.col-sm-3, .col-xs-3 {
  width:25% !important;
}

.col-sm-2, .col-xs-2 {
  width:16.66666667% !important;
}

.col-sm-1, .col-xs-1 {
  width:8.33333333% !important;
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
float: left !important;
}

body {
  margin: 0;
  padding 0 !important;
  min-width: 768px;
}

.container {
  width: auto;
  min-width: 750px;
}

body {
  font-size: 10px;
}

a[href]:after {
  content: none;
}

.noprint,
div.alert,
header,
.group-media,
.btn,
.footer,
form,
#comments,
.nav,
ul.links.list-inline,
ul.action-links {
  display:none !important;
}

}
      </style>
    {% endblock %}

    {% block javascripts %}
      <script>
        window.SONATA_CONFIG = {
          CONFIRM_EXIT: {% if sonata_admin.adminPool.getOption('confirm_exit') %}true{% else %}false{% endif %},
          USE_SELECT2: {% if sonata_admin.adminPool.getOption('use_select2') %}true{% else %}false{% endif %},
          USE_ICHECK: {% if sonata_admin.adminPool.getOption('use_icheck') %}true{% else %}false{% endif %},
          USE_STICKYFORMS: {% if sonata_admin.adminPool.getOption('use_stickyforms') %}true{% else %}false{% endif %}
        };
        window.SONATA_TRANSLATIONS = {
          CONFIRM_EXIT:  '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
        };

        // http://getbootstrap.com/getting-started/#support-ie10-width
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement('style');
          msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
          document.querySelector('head').appendChild(msViewportStyle);
        }
      </script>

      {% for javascript in sonata_admin.adminPool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript) }}"></script>
      {% endfor %}

      {# localize moment #}
      {% if locale[:2] != 'en' %}
        <script>
          $.fn.select2.locales = {};
        </script>
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
      {% endif %}

      {# localize select2 #}
      {% if sonata_admin.adminPool.getOption('use_select2') %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
          <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
      {% endif %}
    {% endblock %}

    <title>
    {% block title %}
      {{ _nakima('nakima').title }}
    {% endblock %}
    </title>

    <style>

      #toast-container > .toast {
        background-image: none !important;
      }

      #toast-container > .toast:before {
        position: fixed;
        font-family: FontAwesome;
        font-size: 24px;
        line-height: 18px;
        float: left;
        color: #FFF;
        padding-right: 0.5em;
        margin: auto 0.5em auto -1.5em;
      }
      #toast-container > .toast-warning:before {
        content: "\f071";
      }
      #toast-container > .toast-error:before {
        content: "\f05e";
      }
      #toast-container > .toast-info:before {
        content: "\f129";
      }
      #toast-container > .toast-success:before {
        content: "\f00c";
      }

      .main-header .logo .logo-lg {
        display: inline;
      }

      .sidebar-menu>li.active>a .fa-angle-left {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }

      .skin-green .breadcrumb .active {
          color: #DDD;
      }

      .skin-green .main-header .navbar .nav>li>a:hover, .skin-green .main-header .navbar .nav>li>a:active, .skin-green .main-header .navbar .nav>li>a:focus, .skin-green .main-header .navbar .nav .open>a, .skin-green .main-header .navbar .nav .open>a:hover, .skin-green .main-header .navbar .nav .open>a:focus, .skin-green .main-header .navbar .nav>.active>a {
          background: none;
      }

      .text-white {
        color: white;
      }

      .ghost {
        display: none;
      }
      </style>
  </head>
  <body class="sonata-bc skin-{{ _nakima('nakima_admin').theme }} {{ _nakima('nakima_admin').mode }}">

  <div class="wrapper">

    {% block sonata_header %}
      <header class="main-header">
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">

            <img class="logo-lg" src="{{ _nakima('nakima').logo }}"  alt="...">

            <img class="logo-mini img-responsive" src="{{ _nakima('nakima').small_logo }}" alt="...">

        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            {#<span class="sr-only">Toggle navigation</span>#}
          </a>

          <div class="navbar-left">
            <div class="hidden-xs">
              <ol class="nav navbar-top-links breadcrumb">
                {% block breadcrumb %}
                  <li class="active"><a href="">{% trans from "nakima_admin" %}nakima_admin_dashboard{% endtrans %}</a></li>
                {% endblock %}
              </ol>
            </div>
          </div>


          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              {# TODO add dinamic items #}
              {#<li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>

                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="/img/me.png" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            ALlaudet
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Dirse Marc es trendring Tropic</p>
                        </a>
                      </li><!-- end message -->
                    </ul>

                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>

              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">1</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 1 notification</li>
                  <li>
                    <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="ion ion-ios-people info"></i>Scrum #8 a las 09:30
                      </a>
                    </li>
                    ...
                  </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Do project status
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li><!-- end task item -->
                      ...
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>#}
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ app.user.avatar.completePath }}" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{ app.user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{ app.user.avatar.completePath }}" class="img-circle" alt="User Image" style="background:white">
                    <p>
                      {{ app.user.username }}
                      <small>{{ app.user.email }}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  {#<li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Projectes</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Tasques</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Missatges</a>
                    </div>
                  </li>#}
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{ url('nakima_admin_update_account') }}" class="btn btn-default btn-flat">{% trans from "nakima_admin" %}nakima_admin_profile{% endtrans %}</a>
                    </div>
                    <div class="pull-right">
                      <a href="/logout" class="btn btn-default btn-flat">{% trans from "nakima_admin" %}nakima_admin_logout{% endtrans %}</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    {% endblock %}

    {% block sonata_wrapper %}
      {% block sonata_left_side %}
        <aside class="main-sidebar">
          <section class="sidebar">
            {#<div class="user-panel">
              <div class="pull-left image">
                <img src="{{ app.user.avatar.completePath }}" class="img-circle" alt="User Image" style="background:white">
              </div>
              <div class="pull-left info">
                <p>{{ app.user.username }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            </div>#}

            {#% block side_bar_after_nav %}
              <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
                {% block side_bar_after_nav_content %}
                  <a href="https://nakima.es" rel="noreferrer" target="_blank">by Nakima</a>
                {% endblock %}
              </p>
            {% endblock %#}
            {% if not bundle_name is defined %}
              {% set bundle_name = "-1" %}
              {% set entity_name = "-1" %}
            {% endif %}

            <ul class="sidebar-menu">
              {% for config_block in _nakima('nakima_admin').dashboard.blocks %}
                {% if not config_block.role or is_granted(config_block.role) %}
                  {% if config_block.group is defined %} {# at least must have a group #}
                    {% set the_group = _nakima('nakima_admin').groups[config_block.group] %}
                    {% set found = false %}
                    {% for block_name in the_group.blocks %}
                      {% set the_block = _nakima('nakima_admin').blocks[block_name] %}
                      {% set block = _load(the_block.class).setBlockInfo(the_block) %}
                      {% if is_granted(the_block.role) %}
                        {% if block.bundleName == bundle_name and block.entityName == entity_name %}
                          {% set found = true %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                    <!-- Sidebar Menu -->
                    <li class="treeview {% if found %}active{% endif %}">
                      <a href="#">
                        <i class="fa fa-{{ the_group.icon }} text-{{ the_group.icon_color }}"></i>
                        <span>{{ the_group.label | trans({}, translator) }}</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right "></i>
                        </span>
                      </a>
                      <ul class="treeview-menu {% if found %}menu-open{% endif %}" style="{% if not found %}display: none;{% endif %}">
                        {% for block_name in the_group.blocks %}
                          {% set the_block = _nakima('nakima_admin').blocks[block_name] %}
                          {% set block = _load(the_block.class).setBlockInfo(the_block) %}

                          {% if is_granted(the_block.role) %}
                            <li {% if block.bundleName == bundle_name and block.entityName == entity_name %}class="active"{% endif %}>
                              {% if the_block.meta.template is defined %}
                                {{ include(the_block.meta.template) }}
                              {% else %}
                                <a href="{{ url('nakima_admin_action', {'bundle': block.getBundleName(), 'entity': block.getEntityName(), 'action': 'list'}) }}">
                                  {% if the_block.meta.icon is defined %}
                                    {% if the_block.meta.icon_color is defined %}
                                    {% else %}
                                      <i class="fa fa-{{ the_block.meta.icon }}"></i>
                                    {% endif %}
                                  {% else %}
                                    <i class="fa"></i>
                                  {% endif %}
                                    {{ the_block.meta.label | trans({}, translator) }}
                                </a>
                              {% endif %}
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% elseif config_block.menu is defined %}
                    {% set the_menu = _nakima('nakima_admin').menus[config_block.menu] %}
                    <li>
                      <a href="{{ url(the_menu.route) }}">
                        <i class="fa fa-{{ the_menu.icon }} text-{{ the_menu.icon_color }} "></i>
                        <span>{{ the_menu.label | trans({}, translator) }}</span>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul><!-- /.sidebar-menu -->
          </section>
        </aside>
      {% endblock sonata_left_side %}

      <div class="content-wrapper">
        {% block sonata_page_content %}
          <section>
            {% block sonata_page_content_header %}
              {% block sonata_page_content_nav %}
              {% endblock sonata_page_content_nav %}
            {% endblock sonata_page_content_header %}
          </section>

          <section class="content">

            {% for flash_message in app.session.flashBag.get('success') %}
              <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h4><i class="icon fa fa-check"></i>{% trans from "nakima_admin" %}nakima_admin_operation_success{% endtrans %}</h4>
                  {{ flash_message | raw }}
              </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('denied') %}
              <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h4><i class="icon fa fa-check"></i>{% trans from "nakima_admin" %}nakima_admin_operation_denied{% endtrans %}</h4>
                  {{ flash_message | raw }}
              </div>
            {% endfor %}

            {% block sonata_admin_content %}

              {% block notice %}
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
              {% endblock notice %}


            {% endblock sonata_admin_content %}

            <section class="content-header">
              {% block content_header %}
              {% endblock %}
            </section>

            <section class="content">
              {% block content %}
              {% endblock %}
            </section>

            <section class="content">
              {% block content_extra %}
              {% endblock %}
            </section>

            <script>

              var adminAlertId = 0;

              function showError(message, timeout) {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.options.progressBar = true;
                toastr.options.timeOut = 10000;
                toastr.error(message, 'Error', 'bottom-right');

              }

              function showInfo(message, timeout) {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.options.progressBar = true;
                toastr.options.timeOut = 10000;
                toastr.info(message, 'Info', 'bottom-right');
              }

              function showWarning(message, timeout) {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.options.progressBar = true;
                toastr.options.timeOut = 10000;
                toastr.warning(message, 'Warning', 'bottom-right');
              }

              function showSuccess(message, timeout) {
                /*adminAlertId++;
                var text = '<div id="alert_id_' + adminAlertId + '" class="alert alert-success alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Success</h4>';
                text += message;
                text += '</div>';

                document.getElementById('admin-alerts').innerHTML += text;
                dismissAlert("alert_id_" + adminAlertId, timeout);*/

                toastr.options.positionClass = 'toast-bottom-right';
                toastr.options.progressBar = true;
                toastr.options.timeOut = 10000;
                toastr.success(message, 'Success', 'bottom-right');
              }

              function dismissAlert(alertId, timeout) {
                if (timeout) {
                  setTimeout(function() {
                    var elem = document.getElementById(alertId);
                    if (elem) {
                      elem.parentNode.removeChild(elem);
                    }
                  }, timeout * 1000);
                }
              }

            </script>
          </section>
        {% endblock sonata_page_content %}
      </div>
    {% endblock sonata_wrapper %}
  </div>

  {% block endjavascripts %}
  {% endblock %}

  {% if sonata_admin.adminPool.getOption('use_bootlint') %}
    {% block bootlint %}
      {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
      <script type="text/javascript">
        (function(){var s=document.createElement("script");s.onload=function(){bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});};s.src="https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";document.body.appendChild(s)})();
      </script>
    {% endblock %}
  {% endif %}


  </body>
</html>
{% endspaceless %}
