{% macro render_groups(admin, object, elements, groups, has_tab, no_padding = false) %}
    <div class="row">
        {{ block('field_row') }}
    </div>
{% endmacro %}

{% block field_row %}
    {% for code in groups %}
        {% set show_group = admin.showgroups[code] %}
            {% for field_name in show_group.fields %}
                {% block show_field %}
                    <tr class="sonata-ba-view-container">
                        {% if elements[field_name] is defined %}
                            {{ elements[field_name]|render_view_element(object)}}
                        {% endif %}
                    </tr>
                {% endblock %}
            {% endfor %}
    {% endfor %}
{% endblock %}
